body{
  background-color: #111827;
  color: #fff;
  height: 100%;
  
}
html{
  background: #111827;
  color: #fff;
}
section{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
img{
  border-radius: 5px;
  margin: 30px 0px;
}

button{
  padding: 15px 30 px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.content{
  margin: 30px 0px;
  border-radius: 5px;
}
.Primario{
  background-color: #6f7dfb;
}
.Secondario{
  background-color: #6f7dfb;
}
input{
  border: none;
  padding: 15px 2px;
  margin-right: 10px;
  border-radius: 5px;
}